*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
/*selector de tipo (etiqueta): esto afectara a todo el cuerpo de la p[agina*/
body{
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background: #e0e0e0;
}

header{  
    background: #333;
    color: #e0e0e0;
    text-align: center;
    display: flex;
    height: 80vh;
}

.hero-left{
    flex: 3;
    background: #1b1a1a;
    color: #e0e0e0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px;
}

.hero-left h1{
    margin-bottom: 20px;
    text-align: left;
    position: absolute;
    left: 60px;
    margin-top: 17%;
    font-size: 40px;    
}

.hero-left p{
    text-align: left;
    margin-top: 320px;
    font-size: 20px;
    margin-bottom: 20px;
}

.hero-left .btn{
    width: fit-content;
    padding: 10px 20px;
    background: #90caf9;
    color: #333;
    font-weight: bold;
    border-radius: 5px;
    font-size: 20px;
    text-decoration: none;
}
.hero-right{
    flex: 7;
    position: relative;
}

.hero-right img{
    width: 100%;
    height: 92%;
    object-fit: cover;
    filter: grayscale(100%);
}

#contenedor-proyectos{
    background-color: #90caf9;
    display: flex;
}

.botones{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    padding: 10px 20px;
}
.botones button{
    padding: 12px 20px; 
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ;
}
h2{
    text-align: center;
    margin: 40px 0;
    font-size: 36px;
    color: #000000;
}

/*selector descendiente*/
nav ul{
    list-style: none;
}
/*selector de tipo para los elementos li dentro del nav ul*/
nav ul li {
    display: inline-block;
    margin: 10px 30px;
    text-transform: uppercase;
}
/*selector de los enlaces dentro del nav*/
nav ul li a {
    color: #e0e0e0;
    text-decoration: none;
    font-weight: bold;
}
/*selector de clase selecciona cualquier elemento que tenga class="proyecto-card"*/
.proyecto-card{
    border: 1px solid #e0e0e0; 
    padding: 20px;
    margin: 20px;
    border-radius: 8px; 
    background: #e0e0e0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.biografia h1{
    text-align: center;
    margin: 40px 0;
    font-size: 10px;
    color: #333;
}
.biografia p{
    text-align: justify;
    margin: 0px 40px;
}
#ver-proyectos{
    background-color: #90caf9;
}
#btn-tema{
    background-color: #000000;  
    color: white;  
}
#ver-mas{
    display:none;
}

/*Experiencia laboral*/
#experiencia{
    padding:50px;
    text-align:center;
}

.experiencia-wrapper{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:10px;
}

.experiencia-carrusel{
    display:flex;
    overflow:hidden;
    width:500px;
}

.experiencia-card{
    min-width:100%;
    background:#e0e0e0;
    padding:20px;
    border-radius:10px;
    border-left:5px solid #90caf9;
}

button{
    font-size:20px;
    padding:10px 15px;
    cursor:pointer;
}

/*contacto*/
#contacto{
    text-align: center;
    padding: 10px 10px;
    background-color: #90caf9;
    border-radius: 5px;
    margin: 10px auto;
    max-width: 100%;
}

#contacto h2{
    font-size: 30px;
    margin-bottom: 20px;
}

#contacto p{
    font-size: 18px;
    margin-bottom: 20px;
}

#contacto a{
    display: inline-block;
    margin: 10px;
    padding: 10px 18px;
    background-color: #e0e0e0;
    color: black;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    transition: all 0.3s ease;
}

#contacto a:hover{
    background-color: #42a5f5;
    transform: scale(1.05);
}

@media (prefers-color-scheme: dark) {
    body {
        background: #121212;
        color: #e0e0e0;
    }
    header {
        background: #1f1f1f;
    }
    h2{
        color: #90caf9;
    }
    .proyecto-card {
        background: #1e1e1e;
        border: 1px solid #90caf9;
        color: #e0e0e0;
    }
    .proyecto-card a {
        color: #90caf9;
    }
    #contenedor-proyectos{
        background-color: #555555;
    }
    #ver-proyectos{
        background-color:#555555;
        color: #e0e0e0;
    }
    #btn-tema{
        background-color: #e0e0e0;
        color: #1e1e1e;
    }
/*Contacto*/
    #contacto{
        background-color: #555555;
        color: #e0e0e0;
    }

    #contacto a{
        background-color: #90caf9;
        color: black;
    }

/**/
    /*experiencia Laboral*/
    #experiencia{
        padding:50px;
        text-align:center;
    }
    .experiencia-wrapper{
        display:flex;
        align-items:center;
        justify-content:center;
        gap:10px;
    }

    .experiencia-carrusel{
        display:flex;
        overflow:hidden;
        width:500px;
    }
    .experiencia-card{
        min-width:100%;
        background:#555555;
        padding:20px;
        border-radius:10px;
        border-left:5px solid #90caf9;
    }

    button{
        font-size:20px;
        padding:10px 15px;
        cursor:pointer;
    }
}   
@media screen and (max-width: 600px){
    header.hero{
        flex-direction: column;
    }
    .hero-left{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 0px;
        align-items: center;
        text-align: center ;
        display: none;   
    }
    .hero-left .btn{
        display: none;
    }
    .hero-left h1{
        margin-top: 10%;
        font-size: 20px;
        max-width: 250px;
        text-align: center ;
    }   
    .hero-left p{
        margin-top: 50%;
        font-size: 10px;
        max-width: 170px;
        text-align: justify;
    } 
    .hero-right img{
        width: 100%;
        height: 85%;
        object-fit: cover;
        filter: grayscale(100%);
    }
    .bibliografia h1{
        margin: 60px;
        font-size: 24px;
    }
    .bibliografia p{
    text-align: justify;
    margin: 0px 20px;    
    }
     #contenedor-proyectos { 
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 5px;
    }
    .proyecto-card {
        width: 90%;
    }
    h1 {
        font-size: 1.5em;
    }   
    #biografia-extra{
        display: none;
    }
    #ver-mas{
        display: block;
        width: 60px;
        margin: 5px auto;
        padding: 3px 5px;
        font-size: 10px;
        text-align: center;
    }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
    #contenedor-proyectos {
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    header.hero{
        flex-direction: column;
    }
    .hero-left{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 0px;
        align-items: center;
        text-align: center ;
        display: none;   
    }
    .hero-left .btn{
        display: none;
    }
    .hero-left h1{
        margin-top: 10%;
        font-size: 20px;
        max-width: 250px;
        text-align: center ;
    }   
    .hero-left p{
        margin-top: 50%;
        font-size: 10px;
        max-width: 170px;
        text-align: justify;
    } 
    .hero-right img{
        width: 100%;
        height: 61%;
        object-fit: cover;
        filter: grayscale(100%);
    }
    .bibliografia h1{
        margin: 60px;
        font-size: 24px;

    }
    .bibliografia p{
    text-align: justify;
    margin: 0px 20px;    
    }

    h1 {
        font-size: 1.5em;
    }
    .proyecto-card {
        width: 45%;
    }        
    #biografia-extra{
        display: none;
    }    
    #ver-mas{
        display: block;
        width: 60px;
        margin: 5px auto;
        padding: 3px 5px;
        font-size: 10px;
        text-align: center;
    }
}

